/* .modalback {
    width: 1000px;
    height: 1000px;
    background-color: #000;
} */

.modal {
    position: fixed;
    width: 300px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    z-index: 20;
    opacity: 0.8;
    background-color: #000;
    color: #fff;
    transition: .2s;
}