.topbox {
    max-width: 1160px;
    margin: 0 auto;
}

.topbox .topcategory {
    text-align: center;
    margin-top: 50px;
}

.topbox .toptitle {
    text-align: center;
}

.topbox .topcontent {
    display: flex;
    justify-content: center;
    width: 1032px;
}

.topbox .toptextbox {
    margin-left: 86px;
}

.topbox .toptextbox .toptext {
    margin-top: 8px;
}

.topbox .toptextbox .pricebox,
.topbox .toptextbox .finishdatebox,
.topbox .toptextbox .sponserbox {
    margin-bottom: 24.5px;
}

.topbox .toptextbox .pricebox .pricename,
.topbox .toptextbox .finishdatebox .datename,
.topbox .toptextbox .sponserbox .sponsername {
    margin-bottom: 14px;
    font-size: 14px;
}

.topbox .toptextbox .pricebox .price,
.topbox .toptextbox .finishdatebox .date,
.topbox .toptextbox .sponserbox .sponser {
    font-size: 2.38rem;
}

.topbox .toptextbox .pricebox .price .priceback,
.topbox .toptextbox .finishdatebox .date .dateback,
.topbox .toptextbox .sponserbox .sponser .sponserback {
    font-size: 14px;
    margin-left: 3.5px;
}

.topbox .toptextbox .pricebox .price .pricepercent {
    font-size: 18.2px;
    margin-left: 10px;
    font-weight: bold;
}




/* image swiper */

.slider {
    width: 594px;
    height: 445px;
}

.slider img {
    width: 594px;
    height: 445px;
    object-fit: cover;
}