/* DetailTop */

.topbox {
    max-width: 1160px;
    margin: 0 auto;
}

.topbox .topcategory {
    text-align: center;
    margin-top: 50px;
}

.topbox .toptitle {
    text-align: center;
}

.topbox .topcontent {
    display: flex;
    justify-content: center;
    width: 1032px;
    padding: 0 0 42px;
    margin: 0 64px;
}

.topbox .topcontent .toptextbox {
    margin-left: 86px;
}

.topbox .topcontent .toptextbox .toptext {
    margin-bottom: 8px;
}

.topbox .topcontent .toptextbox .pricebox,
.topbox .topcontent .toptextbox .finishdatebox,
.topbox .topcontent .toptextbox .sponserbox {
    margin-bottom: 24.5px;
}

.topbox .topcontent .toptextbox .pricebox .pricename,
.topbox .topcontent .toptextbox .finishdatebox .datename,
.topbox .topcontent .toptextbox .sponserbox .sponsername {
    margin-bottom: 14px;
    font-size: 14px;
}

.topbox .topcontent .toptextbox .pricebox .price,
.topbox .topcontent .toptextbox .finishdatebox .date,
.topbox .topcontent .toptextbox .sponserbox .sponser {
    font-size: 2.38rem;
}

.topbox .topcontent .toptextbox .pricebox .price .priceback,
.topbox .topcontent .toptextbox .finishdatebox .date .dateback,
.topbox .topcontent .toptextbox .sponserbox .sponser .sponserback {
    font-size: 14px;
    margin-left: 3.5px;
}

.topbox .topcontent .toptextbox .pricebox .price .pricepercent {
    font-size: 18.2px;
    margin-left: 10px;
    font-weight: bold;
}

.topbox .topcontent .subbox {
    border-top: 1px solid rgb(244, 244, 244);
    padding: 20px 0 10px;
    margin-bottom: 1rem;
}

.topbox .topcontent .subbox .subtextbox .boxmargin {
    margin-top: 8px;
}

.topbox .topcontent .subbox .subtextbox .goal,
.topbox .topcontent .subbox .subtextbox .period,
.topbox .topcontent .subbox .subtextbox .cash {
    width: 56px;
    display: inline-block;
    margin-right: 20px;
    font-weight: 700;
    color: rgb(61, 61, 61);
    font-size: 12px;
    line-height: 20px;
}

.topbox .topcontent .subbox .subtextbox .goalback, 
.topbox .topcontent .subbox .subtextbox .periodback,
.topbox .topcontent .subbox .subtextbox .cashback {
    margin: 0px;
    font-weight: 400;
    color: rgb(61, 61, 61);
    font-size: 13px;
    line-height: 22px;
}

.topbox .topcontent .subbox .subtextbox .periodback .periodbadge {
    display: inline-block;
    margin-left: 6px;
    padding: 0px 6px;
    background-color: rgb(253, 244, 243);
    border-radius: 2px;
    font-weight: 700;
    font-size: 10px;
    color: rgb(255, 87, 87);
}

.btnbox {
    display: flex;
    justify-content: space-between;
}

.heart,
.share {
    border: 1px solid rgb(228, 228, 228);
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    justify-content: center;
}

.share {
    margin-left: 5px;
}

.heart .heartbtn,
.share .sharebtn {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.heart .heartbtn .hearticon,
.share .sharebtn .shareicon {
    font-size: 17px;
    fill: rgb(109, 109, 109)
}

.heart .heartbtn .heartcount,
.share .sharebtn .sharecount {
    font-size: 9px;
    line-height: 9px;
    color: rgb(61, 61, 61);
    margin-top: 5px;
}

.supportbtn {
    min-width: 226px;
    height: 52px;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: transparent 0px 0px 0px 1px inset, rgb(0 0 0 / 10%) 0px 0em 0px 0px inset;
    transition: opacity 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s, background 0.1s ease 0s;
    -webkit-tap-highlight-color: transparent;
    border-radius: 0.285714rem;
    font-weight: bold;
    line-height: 1em;
    text-align: center;
    background-color: rgb(250, 100, 98);
    color: #fff;
    margin-left: 5px;
    padding: 0 10px;
    font-size: 15.4px;
}

/* DetailTabs */

.tabsbox {
    padding: 0px 1rem;
    box-sizing: border-box;
    border-top : 1px solid rgb(228, 228, 228);
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px;
}

.tabsbox.test {
    top: 0;
    position: fixed;
    background-color: #fff;
    width: 100%;
    border-top: none;
    z-index: 1;
}

.tabs {
    width: 1040px;
    margin: 0 auto;
}

.tabs .tabsname {
    font-weight: bold;
    height: 56px;
}

.box {
    margin: 0 auto;
    width: 1160px;
}

.box .boxcontent {
    display: flex;
    width: 1040px;
    justify-content: center;
    margin: 0 auto;
    gap: 38px;
}

/* plan */

.planbox {
    width: 620px;
    padding: 0 15px;
    overflow: hidden;
}

.planbox .plancontent {
    padding: 25px 0 32px;
}

.planbox .plancontent img {
    width: 620px;
}

/* DetailSupport */

.sellerbox {
    margin-top: 25px;
    padding: 20px 16px;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 0px, rgb(0 0 0 / 4%) 0px 2px 4px;
    transition: box-shadow 0.2s ease-in-out 0s;
    -webkit-tap-highlight-color: transparent;
}

.sellerbox .sellerintro {
    padding: 5px 0px 20px;
    font-weight: bold;
    font-size: 14px;
}

.sellerbox .sellerinfobox .sellerinfo {
    display: flex;
}

.sellerbox .sellerinfobox .sellerinfo .sellerprofile img {
    width: 40px;
    height: 40px;
    margin: 5px 14px 0 0;
}

.sellerbox .sellerinfobox .sellerinfo .sellername {
    display: block;
    color: rgb(61, 61, 61);
    font-weight: bold;
    font-size: 14px;
    height: 24px;
}

.sellerbox .sellerinfobox .sellerinfo .sellerlogin {
    font-size: 11px;
    color: #6d6d6d;
}

.sellerbox .sellerinfobox .sellerdes {
    width: 318px;
    padding: 18px 0;
    font-size: 13px;
    color: #6d6d6d;
}

.sellerbox .sellerinfobox .sellerbtn {
    display: flex;
}

.sellerbox .sellerinfobox .sellerbtn .follow {
    padding: 0 16px 0 12px;
    background-color: #f0f0f0;
    margin-right: 8px;
    height: 40px;
    font-weight: 400;
    font-size: 12px;
    width: 126px;
    line-height: 40px;
    text-align: center;
}

.sellerbox .sellerinfobox .sellerbtn .inquiry {
    height: 40px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 1px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
    font-weight: 400;
    font-size: 12px;
    line-height: 40px;
    width: 152px;
}

.stickly {
    height: 100%;
}

.supportcard {
    width: 354px;
    height: 800px;
    padding: 24px 0px 0px;
    position: sticky;
    top: 50px;
    overflow: hidden auto;
}

.supportcard .cardtitle {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: rgb(61, 61, 61);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.rewardcards {
    margin: 10px 0px 14px;
}

.rewardcards .rewardcard {
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 0px, rgb(0 0 0 / 4%) 0px 2px 4px;
    border: 1px solid rgb(239, 239, 239);
}

.rewardcards .rewardcard .rewardcontent {
    padding: 20px;
}

.rewardprice {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 6px;
}

/*
width: 354px;
overflow: hidden auto;
margin: 0px 0px 0px -1px;
padding: 0px 0px 0px 1px;
top: 52px;
height: calc(100% - 52px); */

/* image swiper */

.slider {
    width: 594px;
    height: 445px;
}

.slider img {
    width: 594px;
    height: 445px;
    object-fit: cover;
}