/* default css */

.cardbox {
    padding: 0 7px 40px;
}

.cardbox .imgWrapper {
    position: relative;
}

.cardbox .imgWrapper .heartbox {
    position: absolute;
    top: 14px;
    right: 14px;
}

.cardbox .imgWrapper .heartbox .heart {
    color: #FFF;
    cursor: pointer;
}

.cardbox .imgWrapper .heartbox .checkheart {
    color: red; 
    cursor: pointer;
}

.cardbox .imgWrapper .img {
    width: 180.5px;
    height: 146.2px;
    transition: .5s;
}

.cardbox .imgWrapper .img:hover {
    transform: scale(1.03);
    transition: .5s;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 12px;
}

.cardbox .subInfoBox {
    padding: 14px 0px 0px;
}

.cardbox .subInfoBox .subInfo {
    padding: 0px 0px 2px;
    width: 180.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
    white-space: nowrap;
    font-size: 11px;
    letter-spacing: -0.005em;
    line-height: 16px;
    color: rgb(109, 109, 109);
}

.cardbox .subInfoBox .subInfo .submiddleline {
    font-size: 8px;
    position: relative;
    top: -1px;
    margin: 0px 6px;
    color: rgb(208, 208, 208);
}

.cardbox .subInfoBox .subtitle {
    width: 180.5px;
    height: 40px;
    line-clamp: 2;
    overflow: hidden;
    word-break: keep-all;
    font-size: 14px;
    letter-spacing: -0.015em;
    line-height: 20px;
    font-weight: 700;
}

.cardbox .subInfoBox .subpercent {
    font-weight: bold;
    padding-top: 2px;
    font-size: 13px;
    letter-spacing: -0.015em;
    line-height: 28px;
    color: rgb(255, 87, 87);
}

/* middle size */

.cardbox.middle {
    width: 220.8px;
    margin-right: 14px;
}

.cardbox.middle .imgWrapper .img{
    width: 220.8px;
    height: 178.84px;
}

.cardbox.middle .subInfoBox .subInfo {
    width: 220.8px;
}

.cardbox.middle .subInfoBox .subtitle {
    width: 220.8px;
}

/* large size */
