.hero{
    position: relative;
    overflow: hidden;
    background: linear-gradient(135deg, rgb(50, 193, 181) 0%, rgb(214, 149, 70) 26%, rgb(217, 90, 74) 59%, rgb(120, 42, 131) 100%);
}

.hero .left{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 30%;
    min-width: 10rem;
    height: 100%;
    background-image: url(https://tumblbug-assets.imgix.net/assets/ProjectStart/projectstart-hero-background-left.png);
    background-size: cover;
    background-position: center center;
    opacity: 0.5;
}

.hero .right{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 30%;
    min-width: 10rem;
    height: 100%;
    background-image: url(https://tumblbug-assets.imgix.net/assets/ProjectStart/projectstart-hero-background-right.png);
    background-size: cover;
    background-position: center center;
    opacity: 0.5;
}

.hero .mid{
    position: relative;
    z-index: 99;
    padding: 4rem 0px;
    max-width: 800px;
    margin: 0 auto;
}

.hero .mid .img{
    background-image: url(https://tumblbug-assets.imgix.net/assets/ProjectStart/madeintumblbug-whiteoutline.png);
    display: block;
    float: left;
    width: 18rem;
    height: 18rem;
    margin: 15px 4rem 0px 0px;
    background-size: contain;
    background-position: center 15%;
    background-repeat: no-repeat;
}

.hero .mid .cont{
    margin: 1rem 0px 1.5rem;
    font-size: 1.4rem;
    letter-spacing: -0.01em;
    color: rgb(255, 255, 255);
    word-break: keep-all;
}

.hero .mid .cont h1{
    font-size: 2em;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 1.3;
    word-break: keep-all;
    margin: 0 0 1rem;
}

.hero .mid .cont p{
    margin: .5rem 0 2rem;
}

.hero .mid .cont button{
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: none;
    border: none;
    vertical-align: baseline;
    box-shadow: transparent 0px 0px 0px 1px inset, rgb(0 0 0 / 10%) 0px 0em 0px 0px inset;
    user-select: none;
    transition: opacity 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s, background 0.1s ease 0s;
    -webkit-tap-highlight-color: transparent;
    margin: 0px 0.25em 0px 0px;
    border-radius: 0.285714rem;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgb(231, 231, 231);
    padding: 1em 1.5em;
    font-size: 1em;
    opacity: 1;
}

.hero .mid .cont .start{
    background-color: rgb(255, 255, 255);
    color: rgb(216, 105, 73);
    font-size: 16px;
    border: 1px solid rgb(255, 255, 255);
    transition: all 0.2s ease 0s;
    padding: 0px 24px;
    margin-right: 14px;
    height: 46px;
}

.hero .mid .cont .guide{
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 16px;
    transition: all 0.2s ease 0s;
    border: 1px solid rgb(255, 255, 255);
    padding: 0px 24px;
    height: 46px;
}