/* Notableproject */

.boxSize {
    width: 778px;
}

.boxSize .boxTitle {
    padding-left: 7px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.02em;
    color: rgb(28, 28, 28);
    font-weight: bold;
    margin: 0px 0px 20px;
}

/* RecentProject */

.bothbox {
    padding: 44px 0 0;
}

.bothbox .bothtitle {
    padding-left: 7px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.02em;
    color: rgb(28, 28, 28);
    font-weight: bold;
    margin: 0px 0px 20px;
}

.bothbox .bothmore {
    color: rgb(109, 109, 109);
    font-weight: 400;
    font-size: 14px;
    padding-left: 972px;
}

.swipersize {
    width: auto;
}