.editor{
    padding-top: 65px;
    overflow: hidden;
    display: flex;
    background-color: white;
    flex-grow: 1;
    height: 140vh;
}

.editor .left{
    display: block;
    width: 438px;
    background: url(https://tumblbug-assets.s3-ap-northeast-1.amazonaws.com/static_assets/editor-start-image-04.jpg) 0% 0% / cover no-repeat;
    background-size: 438px 100%;
    background-attachment: fixed;
}

.editor .right{
    width: 450px;
    padding: 40px 0 63px;
    margin: 0 auto;
}

.editor .right .cont{
    margin: 0 auto;
    box-sizing: content-box;
}

.editor .right .cont h2,
.project h2{
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;

}

.editor .right .cont p,
.project p{
    font-weight: 400;
    margin-bottom: 40px;
    color: rgb(109, 109, 109);
    font-size: 14px;
    line-height: 24px;

}

.editor .right .cont div{
    text-align: center;
    width: 100%;
    margin-bottom: 53px;
}

.editor .right .cont div ul{
    display: inline-flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.project .cont textarea{
    overflow: auto;
    color: inherit;
    font: inherit;
    margin: 0;
    width: 100%;
    height: 104px;
    border: 1px solid rgb(229, 229, 229);
    resize: none;
    padding: 10px 16px;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
}

.project .cont .falseoption{
    border: 1px solid red;
}

.project .cont .guide{
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: rgb(158, 158, 158);
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.project .cont .guide span{
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: rgb(158, 158, 158);
}

.right .project .cont .btn{
    border-top: 1px solid rgb(239, 239, 239);
    text-align: right;
    padding-top: 16px;
}

.project .cont .btn button{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 40px;
    white-space: nowrap;
    border-radius: 1px;
    margin: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    padding: 0 16px;
    background-color: rgb(255, 87, 87);
    color: white;
}

.project .cont .btn .not{
    background-color: rgb(229, 229, 229);
    cursor: auto;
}

/* categoryButton */
.categorygroup{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.categorybutton {
    list-style: none;
    margin: 0 8px 10px 0;
}

.categorybutton button {
    outline: none;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 52px;
    height: 36px;
    background: rgb(255, 255, 255);
    padding: 0 24px;
}

.categorybutton input{
    visibility: hidden;
    display: none;
}

input[type=radio]:checked + button{
    background-color: red;
    color: white;
}