/* basicInfo */

.infoWrapper {
    padding : 84px 0px 0px;
    background-color:#f8f8f8;
}

.infoItem {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 48px;
    margin-bottom: 56px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom : 1px solid rgb(240, 240, 240);
}

.project {
    width : 300px;
}

.projectInfo {
    width : 350px;
}

.projectInfo dt {
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 24px;
}

.projectInfo dt span {
    font-size : 25px;
    color : rgb(248, 100, 83);
}

.projectInfo dd {
    margin-left : 0px;
    font-weight: 400;
    color: rgb(109, 109, 109);
    margin: 0px;
    font-size: 14px;
    line-height: 24px;
}

.projectForm {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 630px;
}

.projectForm2 {
    width : 630px;
}

.projectForm p {
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -0.005em;
    margin-bottom: 8px;
}

.projectForm2 p {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 8px;
}

.selectCategory {
    width: 100%;
}

select {
    padding : 0px 18px;
    border: 1px solid rgb(240, 240, 240);
    width : 98%;
    height : 40px;
    color : rgb(13, 13, 13);
    font-size: 14px;
    line-height: 24px;
}


.inputDIV {
    padding : 0px 18px;
    border: 1px solid rgb(244, 69, 68);
    width : 93%;
    height : 40px;
    color : rgb(13, 13, 13);
    font-size: 14px;
    line-height: 24px;
}

.checkLetters {
    display: flex;
    font-size: 12px;
    color : rgb(244, 69, 68);
    justify-content: flex-end;
    margin-right : 8px;
}

.summary {
    margin-top : 20px;
    padding : 0px 18px;
    border: 1px solid rgb(244, 69, 68);
    width: 93%;
    height: 150px;
    resize : none;
    line-height: 30px;
}

.projectInfoNotice {
    background: rgb(253, 244, 243);
    border-radius: 8px;
    padding: 20px;
    font-weight: 400;
    color: rgb(109, 109, 109);
    font-size: 12px !important;
    line-height: 20px !important;
}

.noticeIcon {
    font-size : 1em !important;
}

.projectIMG {
    width: 100%;
    padding: 13px;
    margin-bottom: 25px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(240, 240, 240);
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    text-align : center;
}
