/* basicInfo */

.infoWrapper,
.fundingWrapper {
    padding : 84px 0px 0px;
    background-color:#f8f8f8;
    margin-top: 124px;
}

.infoItem {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 48px;
    margin-bottom: 56px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom : 1px solid rgb(240, 240, 240);
}

.project {
    width : 300px;
}

.projectInfo {
    width : 350px;
}

.projectInfo dt {
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 24px;
}

.projectInfo dt span {
    font-size : 25px;
    color : rgb(248, 100, 83);
}

.projectInfo dd {
    margin-left : 0px;
    font-weight: 400;
    color: rgb(109, 109, 109);
    margin: 0px;
    font-size: 14px;
    line-height: 24px;
}

.projectForm {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 630px;
}

.projectForm2 {
    width : 630px;
}

.projectForm p {
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -0.005em;
    margin-bottom: 8px;
}

.projectForm2 p {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 8px;
}

.selectCategory {
    width: 100%;
    margin : 0px 8px;

}

select {
    padding : 0px 18px;
    border: 1px solid rgb(240, 240, 240);
    width : 100%;
    height : 40px;
    color : rgb(13, 13, 13);
    font-size: 14px;
    line-height: 24px;
}


.inputDIV {
    padding : 0px 18px;
    border: 1px solid rgb(244, 69, 68);
    width : 93%;
    height : 40px;
    color : rgb(13, 13, 13);
    font-size: 14px;
    line-height: 24px;
}

.preview{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 32px;
    background-color: white;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 4px;
}

.preview div:first-child{
    width: 145px;
    position: relative;
}

.preview div:first-child span{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2px 4px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 9px;
    line-height: 11px;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 95, 76);
}

.preview div:first-child img{
    width: 100%;
    vertical-align: bottom;
}

.preview div:first-child button{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    border: 0px;
}

.preview div:first-child button svg{
    color: white;
    font-size: 17px;
}

.preview div:last-child{
    display: flex;
}

.preview div:last-child label{
    width: 73px;
    height: 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
    border-radius: 1px;
    padding: 0 16px;
    border: 1px solid rgb(240, 240, 240);
    color: rgb(61, 61, 61);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputDIV2 {
    padding : 0px 18px;
    margin-right : 20px;
    border: 1px solid rgb(244, 69, 68);
    width : 73%;
    height : 40px;
    color : rgb(13, 13, 13);
    font-size: 14px;
    line-height: 24px;
}

.checkLetters {
    display: flex;
    font-size: 12px;
    color : rgb(244, 69, 68);
    justify-content: flex-end;
    margin-right : 8px;
}

.checkLetters2 {
    font-size: 12px;
    color : rgb(244, 69, 68);
    margin-left : 335px;
}

.checkLetters3 {
    font-size: 12px;
    color : rgb(244, 69, 68);
    margin-left : 370px;
}

.projectIMGspan {
    color :rgb(13, 13, 13);
    font-size : 12px;
}

.summary {
    margin-top : 20px;
    padding : 0px 18px;
    border: 1px solid rgb(244, 69, 68);
    width: 93%;
    height: 100px;
    resize : none;
    line-height: 30px;
}

.projectInfoNotice {
    background: rgb(253, 244, 243);
    border-radius: 8px;
    padding: 20px;
    font-weight: 400;
    color: rgb(109, 109, 109);
    font-size: 12px !important;
    line-height: 20px !important;
    margin-top : 20px;
}

.noticeSpan {
    color :rgb(244, 69, 68);
    font-weight: 600;
}

.noticeIcon {
    font-size : 1em !important;
}

.projectIMG {
    width: 100%;
    padding: 13px;
    margin-bottom: 25px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(240, 240, 240);
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    text-align : center;
    color: rgb(158, 158, 158);
    font-weight: 400;
}

.projectIMG>label>div{
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 8px;
}


.helpicon,
.uploadIcon {
    color : rgb(244, 69, 68) !important; 
    font-size : 15px !important;
}

.videoUploadDIV {
    font-size: 12px;
    width: 130px;
    height: 36px;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 4px;
    margin: 0px auto 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    color :rgb(13, 13, 13);
}

.checkDuplication {
    width: 104px;
    background-color: white;
    border: 1px solid rgb(242, 242, 242);
    height: 45px;
}

.checkValidate {
    color: rgb(158, 158, 158);
    line-height: 1.7em;
    font-size : 12px;
}

.fileUpload {
    width : 0px;
}

.optionBox {
    background-color:white;
    z-index : 100;
}

.infoWrapper .ok{
    border: 1px solid rgb(240, 240, 240);
}

/* funding */

.goalPriceDIV {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(234, 234, 234);
    border-radius: 4px;
    padding: 32px 24px 24px;
    width: 550px;
}

.goalPriceDIV p {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 8px;
}

.goalPriceInput {
    border: 1px solid rgb(234, 234, 234);
    width : 100%;
    height: 40px;
    line-height: 24px;
    text-align : right;
}

.won {
    position: relative;
    left : 530px;
    bottom : 30px;
}

.estimatePrice {
    background: rgb(252, 252, 252);
    border-radius: 4px;
    padding: 25px 22px 15px;
    margin-top: 8px;
}

.amount {
    color : rgb(61, 61, 61);
    font-size : 12px;
    display: flex;
    justify-content: space-between;
    padding-bottom : 20px;
    border-bottom : 1px solid rgb(234, 234, 234);
}

.calAmount {
    color :  rgb(158, 158, 158);
    font-size : 12px;
    display: flex;
    justify-content: space-between;
    padding-top : 8px;
}