/* basicInfo */

.infoWrapper,
.fundingWrapper {
    padding : 84px 0px 0px;
    background-color:#f8f8f8;
    margin-top: 124px;
}

.infoItem {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 48px;
    margin-bottom: 56px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom : 1px solid rgb(240, 240, 240);
}

.project {
    width : 300px;
}

.projectInfo,
.giftItemList {
    width : 350px;
}

.projectInfo dt,
.giftItemList dt {
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 24px;
}

.projectInfo dt span,
.giftItemList dt span {
    font-size : 25px;
    color : rgb(248, 100, 83);
}

.projectInfo dd,
.giftItemList dd{
    margin-left : 0px;
    font-weight: 400;
    color: rgb(109, 109, 109);
    margin: 0px;
    font-size: 14px;
    line-height: 24px;
}



.projectForm {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 630px;
}

.projectForm2 {
    width : 630px;
}

.projectForm p {
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -0.005em;
    margin-bottom: 8px;
}

.projectForm2 p {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 8px;
}

.selectCategory {
    width: 100%;
    margin : 0px 8px;

}

select {
    padding : 0px 18px;
    border: 1px solid rgb(240, 240, 240);
    width : 100%;
    height : 40px;
    color : rgb(13, 13, 13);
    font-size: 14px;
    line-height: 24px;
}


.inputDIV {
    padding : 0px 18px;
    border: 1px solid rgb(244, 69, 68);
    width : 93%;
    height : 40px;
    color : rgb(13, 13, 13);
    font-size: 14px;
    line-height: 24px;
}

.preview{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 32px;
    background-color: white;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 4px;
}

.preview div:first-child{
    width: 145px;
    position: relative;
}

.preview div:first-child span{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2px 4px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 9px;
    line-height: 11px;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 95, 76);
}

.preview div:first-child img{
    width: 100%;
    vertical-align: bottom;
}

.preview div:first-child button{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    border: 0px;
}

.preview div:first-child button svg{
    color: white;
    font-size: 17px;
}

.preview div:last-child{
    display: flex;
}

.preview div:last-child label{
    width: 73px;
    height: 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
    border-radius: 1px;
    padding: 0 16px;
    border: 1px solid rgb(240, 240, 240);
    color: rgb(61, 61, 61);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputDIV2 {
    padding : 0px 18px;
    margin-right : 20px;
    border: 1px solid rgb(244, 69, 68);
    width : 73%;
    height : 40px;
    color : rgb(13, 13, 13);
    font-size: 14px;
    line-height: 24px;
}

.checkLetters {
    display: flex;
    font-size: 12px;
    color : rgb(244, 69, 68);
    justify-content: flex-end;
    margin-right : 8px;
}

.checkLetters2 {
    font-size: 12px;
    color : rgb(244, 69, 68);
    margin-left : 335px;
}

.checkLetters3 {
    font-size: 12px;
    color : rgb(244, 69, 68);
    margin-left : 370px;
}

.projectIMGspan {
    color :rgb(13, 13, 13);
    font-size : 12px;
}

.summary {
    margin-top : 20px;
    padding : 0px 18px;
    border: 1px solid rgb(244, 69, 68);
    width: 93%;
    height: 100px;
    resize : none;
    line-height: 30px;
}

.projectInfoNotice {
    background: rgb(253, 244, 243);
    border-radius: 8px;
    padding: 20px;
    font-weight: 400;
    color: rgb(109, 109, 109);
    font-size: 12px !important;
    line-height: 20px !important;
    margin-top : 20px;
}

.noticeSpan {
    color :rgb(244, 69, 68);
    font-weight: 600;
}

.noticeIcon {
    font-size : 1em !important;
}

.projectIMG {
    width: 100%;
    padding: 13px;
    margin-bottom: 25px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(240, 240, 240);
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    text-align : center;
    color: rgb(158, 158, 158);
    font-weight: 400;
}

.projectIMG>label>div{
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 8px;
}


.helpicon,
.uploadIcon {
    color : rgb(244, 69, 68) !important; 
    font-size : 15px !important;
}

.videoUploadDIV {
    font-size: 12px;
    width: 130px;
    height: 36px;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 4px;
    margin: 0px auto 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    color :rgb(13, 13, 13);
}

.checkDuplication {
    width: 104px;
    background-color: white;
    border: 1px solid rgb(242, 242, 242);
    height: 45px;
}

.checkValidate {
    color: rgb(158, 158, 158);
    line-height: 1.7em;
    font-size : 12px;
}

.fileUpload {
    width : 0px;
}

.optionBox {
    background-color:white;
    z-index : 100;
}

.infoWrapper .ok{
    border: 1px solid rgb(240, 240, 240);
}

/* funding */

.goalPriceDIV {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(234, 234, 234);
    border-radius: 4px;
    padding: 32px 24px 24px;
    width: 550px;
}

.goalPriceDIV div {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 8px;
}

.goalPriceInput {
    border: 1px solid rgb(234, 234, 234);
    width : 100%;
    height: 40px;
    line-height: 24px;
    text-align : right;
}

.won2 {
    background: rgb(252, 252, 252);
    min-width: 44px;
    height: 44px;
    border-radius : 0%;
    display : flex;
    align-items: center;
    justify-content: center;
    border : 1px solid rgb(240, 240, 240);
}

.estimatePrice {
    background: rgb(252, 252, 252);
    border-radius: 4px;
    padding: 25px 22px 15px;
    margin-top: 8px;
}

.amount {
    color : rgb(61, 61, 61);
    font-size : 12px;
    display: flex;
    justify-content: space-between;
    padding-bottom : 20px;
    border-bottom : 1px solid rgb(234, 234, 234);
}

.calAmount {
    color :  rgb(158, 158, 158);
    font-size : 12px;
    display: flex;
    justify-content: space-between;
    padding-top : 8px;
}

.goalpriceinputDIV {
    width: 100%;
    height : 40px;
    border : 1px solid rgb(234, 234, 234);
    font-size: 14px !important;
    line-height: 24px !important
}

.goalPrice {
    border : none;
    text-align : right;
    appearance: none !important;
    outline : none;
    width: 95%;
    position : relative;
    top : 5px;
    font-size : 15px;
}

.goalPrice:focus {
    caret-color: rgb(255, 87, 87);
}

.expectedAmount {
    color : rgb(255, 87, 87);
    font-size : 18px;
    font-weight: 700;
}

.fundingDateDIV {
    width : 600px;
}

.list {
    padding-inline-start : 0px;
}

.list li {
    font-weight: 500;
    margin-bottom: 8px;
    color: rgb(13, 13, 13);
    display: flex;
    font-size: 12px !important;
    line-height: 20px !important;
}

.listLi {
    border-left : 1px solid rgb(234, 234, 234);
    height: 100px;
    margin-top : -10px;
    padding-left : 15px;
}

.dateDIV {
    display: flex;
    width : 100%;
    justify-content: space-between;
}

.dateBTN {
    width : 300px;
    background-color: rgb(135, 65, 65);
}

.selectTime {
    background-color : white;
    margin-top : 10px;
}

.endPayment {
    color : rgb(158, 158, 158);
    font-size : 15px;
}

.calender {
    border : 1px solid rgb(234, 234, 234);
    background-color: white;
    border-radius: 4px;
    width : 300px;
    height: 35px;
    padding-left : 10px;
    display: flex;
    padding-top : 10px;
}

.selectTimeDIV {
    border : 1px solid rgb(234, 234, 234);
    background-color: white;
    border-radius: 4px;
    width : 300px;
    height: 35px;
    padding-left : 10px;
    display: flex;
    padding-top : 10px;
    justify-content: space-between;
    font-size : 14px;
}

.selectDate {
    color :  rgb(61, 61, 61);
    border : none;
    font-size : 15px;
    padding-left : 10px;
    width: 90%;
    cursor : pointer;
}

.selectDate:focus {
    outline : none;
}

.startTime {
    padding-left : 10px;
    width : 100%;
    height : 100px;
}

.timeUL {
    padding : 10px 20px;
    height: 300px;
    overflow: scroll;
}

.timeUL li {
    padding-bottom : 8px;
    font-size : 14px !important;
    color : rgb(118, 118, 118);
}

.timeUL li:hover {
    background-color: rgb(251, 251, 251);
}

/* gift */
.giftNum {
    margin-left : 5px;
    font-size : 16px !important;
    color : rgba(0, 0, 0, 0.484) !important;
}

.giftDT {
    display: flex;
    justify-content: space-between;
}

.orderBy {
    vertical-align: top;
    font-size: 14px !important;
    color :rgb(82, 82, 82) !important;
    padding-right : 5px;
}

.createGiftBox {
    background-color: white;
    border : 1px solid rgb(240, 240, 240);
    min-height: 80px;
    padding: 20px 28px;
}

.giftPrice {
    display: block;
    font-weight: 700;
    color: rgb(61, 61, 61);
    font-size: 20px !important;
    line-height: 50px !important;
}

.giftinfo {
    padding-top : 30px;
    font-size: 13px;
    color :rgb(82, 82, 82);
}

.createGiftForm {
    background-color: rgb(255, 255, 255);
    width : 60%;
    padding: 44px 48px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top : 52px;
    font-size: 14px;
}

.createGiftTitle {
    font-size : 17px;
    font-weight: 700;
    margin-bottom : 20px;
}

.createGiftTitle span {
    font-size : 25px;
    color : rgb(248, 100, 83);
}

.createGiftSubTitle {
    font-weight: 500;
    font-size: 12px !important;
    line-height: 20px !important;
}

.createInfo {
    font-weight: 400;
    color: rgb(109, 109, 109);
    line-height: 25px;
}

.createSection {
    margin : 30px 0px;
    padding-bottom : 20px;
    border-bottom : 1px solid rgb(250, 250, 250);
}

.createGiftInput {
    margin-top : 10px;
    width : 93%;
    height: 44px;
    padding: 0px 18px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(240, 240, 240);
}

.createGiftInput:focus {
    outline: 1px solid rgb(62, 62, 62);
}

.checkContentLetters {
    display: flex;
    font-size: 12px;
    justify-content: flex-end;
    color :  rgb(149, 149, 149);
}

.limitDIV {
    display: flex;
    margin-top : 10px;
}

.btndiv {
    width: 300px;
    border : 1px solid rgb(234, 234, 234);
    margin : 0px 5px;
    padding : 20px;
    display: flex;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color : rgb(60, 60, 60);
}

.qtyDiv {
    display: flex;
    padding-left : 40px;
}

.inputQTY {
    width : 100px;
    height: 20px;
    border-radius: 0%;
    border : 1px solid rgb(234, 234, 234);
}

.gae {
    border: 1px solid rgb(234, 234, 234);
    background-color: rgb(252, 252, 252);
    border-radius: 0%;
    padding : 0px 4px;
    font-size : 12px;
    display: flex;
    align-items: center;
}

.createGiftInput2 {
    margin-top : 10px;
    width : 83%;
    height: 44px;
    padding: 0px 18px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(240, 240, 240);
    text-align : right;
}

.createGiftInput2:focus {
    caret-color: rgb(255, 87, 87);
}

.priceDIV {
    display: flex;
    align-items: flex-end;
}

.won {
    position : relative;
    top : 5px;
    font-size : 15px;
}

.deliveryDateDIV {
    padding: 10px 22px;
    border: 1px solid rgb(229, 60, 65);
    border-radius: 4px;
    color: rgb(109, 109, 109);
    margin-top : 10px;
}

.resetbtn {
    width: 200px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    margin: 0px;
    outline: 0px;
    box-sizing: border-box;
    font-weight: normal;
    padding: 0px 24px;
    border: 1px solid rgb(240, 240, 240);
    color: rgb(61, 61, 61);
    background: rgb(255, 255, 255);
}

.savebtn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    white-space: nowrap;
    border-radius: 1px;
    margin-left: 40px;
    border: 0px;
    outline: none;
    font-weight: normal;
    box-sizing: border-box;
    padding: 0px 24px;
    background-color: rgb(248, 100, 83);
    color: rgb(255, 255, 255);
    width : 300px;
}

.deliveryDateFlex {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    border-bottom : 1px solid rgb(240, 240, 240);
}

.deliveryDateFlex2 {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
}
