/* ProjectCard */

.card {
    display: flex;
    box-shadow: none !important;
    flex: 0 1 auto;
    margin-bottom: 10px;
}

.card .cardContent {
    padding: 0;
    padding-bottom: 0 !important;
}

.card .rank {
    display: flex;
    flex: 0 0 auto;
    align-items: baseline;
    justify-content: center;
    width: 46px;
    font-weight: 700;
    color: rgba(240, 80, 62, 0.9);
    font-size: 16px;
    line-height: 24px;
}

.card .imgWide {
    width: 108px !important;
    height: 87.47px;
    object-fit: cover;
    transition: .5s;
}

.card .imgWide:hover {
    transform: scale(1.03);
    transition: .5s;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 12px;
}

.card .subdes {
    font-size: 11px;
    color: #6d6d6d;
}

.card .subdes .middleline {
    display: inline-block;
    margin: 0px 6px;
    color: rgb(208, 208, 208);
    position: relative;
}

.card .title {
    display: -webkit-box;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    word-break: keep-all;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    letter-spacing: -0.015em;
    text-overflow: ellipsis;
    margin-bottom: 8px;

}

.card .cardContent .subbox {
    min-height: 55px;
}

.card .cardContent .percent {
    color: rgba(240, 80, 62, 0.9);
    font-weight: bold;
    font-size: 13px;
    line-height: 24px;
}

.card .good {
    color: #000;
}

/* ProjectList */

.listbox {
    max-width: 314px;
    width: calc(100% - 151px);
}

.listbox .listTitle {
    font-size: 20px;
    font-weight: bold;
}

.listbox .listTitle .more {
    font-size: 14px;
    color: #6d6d6d;
    font-weight: 400;
    padding-left: 136px;
}

.listbox .listdate {
    font-size: 12px;
    color: #6d6d6d;
    padding-bottom: 20px;
}

.listbox .listbtn {
    display: flex;
    width: 204px;
    height: 44px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.015em;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: rgb(0 0 0 / 5%) 0px 1px 8px;
    text-align: center;
    color: rgb(61, 61, 61);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 22px;
    margin: 30px auto 0px;
}

.listbox .listbtn:hover {
    background-color: #eee;
}