.cont{
    width: 1160px;
    margin: 0 auto;
}

.items{
    width: 1160px;
    margin: 16px auto 6px;
}
.items .boxTitle{
    font-size: 1.14rem;
    margin-bottom: 16px;
}

.items span{
    color: red;
}


.noitem{
    width: 1160px;
    margin: 0 auto;
}

.noitem .icon{
    opacity: .5;
    text-align: center;
    color: rgba(0, 0, 0, .3);
    font-weight: bold;
    min-height: 50vh;
    font-size: 2rem;
    margin: 160px auto;
}

.noitem .icon svg{
    font-size: 80px
}