.box{
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 6px;
}

.head{
    max-width: 1160px;
    margin: 10px auto 1px;
}

/* top */

.top{
    display: flex;
    font-size: 12px;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}

.top img{
    cursor: pointer;
    height: 60px;
}

.post{
    padding: 16px;
    line-height: 28px;
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.my{
    display: flex;
    align-items: center;
    position: relative;
}

.login{
    display: flex;
    align-items: center;
    padding: 10px 16px;
    margin-left: 10px;
    border: 1px solid rgb(223,223,223);border-radius: 4px;
    cursor: pointer;
}

.top svg{
    padding: 12px;
}

.top .login svg{
    padding: 0;
    margin-right: 10px;
    color: #d0d0d0;
}

/* menu */

.cont{
    display: flex;
    height: 56px;
    justify-content: space-between;
    position: relative;
    flex-direction: row;
    align-items: center;
}

.menu{
    display: flex;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-weight: 600;
}

.menu div{
    margin-right: 18px;
    height: 56px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu a{
    color: black;
    text-decoration: none;
    padding: 0 6px;
}

.menu .action{
    border-bottom: 2px solid black;
}

.menu .ham{
    margin-right: 8px;
}

.menu div .home{
    color:rgb(254, 95, 76) ;
}

.menu div a:hover, .menu .categorymenu:hover {
    color: rgb(254, 95, 76);
    transition: all 0.2s ease-in-out 0s;
}


.search{
    display: flex;
    align-items: center;
    width: 215px;
    height: 36px;
    background-color: rgb(243,243,243);
    position: relative;
    align-items: center;
    border-radius: 8px;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: rgba(0,0,0,0.3);
    justify-content: space-around;
}

.search input{
    border: none;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.02em;
    background: transparent;
    color: rgb(51, 51 , 51);
    appearance: none;
    outline: none;
}

/* category */
.category{
    z-index: 100;
    background-color: white;
    height: 260px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 1160px;
    margin: 0 auto;
    padding: 40px 0px 30px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    transition: 3s;
}


.items{
    display: flex;
    flex-direction: column;
    flex: 1 0 20%;
}

.item{
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
    height: 32px;
    margin-bottom: 20px;
    padding: 0px 3px;
    cursor: pointer;
}

.icon{
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    margin-right: 4px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.icon svg{
    width: 38px;
    height: 38px;
}

.cate{
    margin-top: 4px;
    display: inline-flex;
    width: 100%;
    line-height: 18px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(61, 61, 61);
    font-size: 13px;
    word-break: keep-all;
    text-align: left;
}

/* searchpage */

.searchpage{
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: white;
}

.searchHeader{
    height: 65px;
    width: 1032px;
    margin: 0 auto;
    padding: 0 0 0 1rem;
    position: relative;
    left: auto;
    border-bottom: none;
    display: flex;
    top: 0;
    background: white;
    align-items: center;
}

.searchHeader>svg{
    width: 27px;
    height: 27px;
    cursor: pointer;
}

.searchInput{
    -webkit-box-flex: 2;
    flex-grow: 2;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.2s ease 0s;
}

.searchInput input{
    width: 90%;
    padding: 0.75rem 0px;
    border: none;
    font-weight: 500;
    background-color: white;
    outline: none;
    appearance: none !important;
    font-size: 1.28rem;
    color: inherit;
}

.searchInput>svg{
    font-size: 27px;
    margin-right: 16px;
}

.searchCont{
    border-top: 1px solid rgb(230,230,230);
}

.contpage{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 1080px;
    margin: 10px auto;
}

.best{
    width: 1000px;
    margin: 10px auto 14px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
}

.title{
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    user-select: none;
    line-height: 22px;
    min-height: 36px;
}

.title .time{
    padding-left: 10px;
    color: rgb(158,158,158);
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    user-select: none;
}

.bestcont{
    display: flex;
    max-height: 190px;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.bestitem{
    width: 50%;
    padding-right: 20px;
    margin-top: 12px;
    display: flex;
    min-height: 22px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justicy;
    justify-content: space-between;
}

.bestitem div:first-child{
    width: 80%;
    display: flex;
    overflow: hidden;
    -webkit-box-align: center;
    align-items: center;
}

.bestitem div:first-child span:first-child{
    display: flex;
    width: 28px;
    height: 20px;
    font-weight: 700;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
}

.bestitem div:first-child span:last-child{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.bestitem div:last-child{
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    min-width: 28px;
    min-height: 22px;
}

/* sug */

.sug{
    width: 1000px;
    margin: 10px auto 14px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
}

.sug>div:first-child{
    font-size: 14px;
    margin: 0 0 8px;
    color: rgb(61,61,61);
    font-weight: 700;
    padding: 12px 0 0;

}

.sug .sugitem{
    font-weight: normal;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: rgb(61, 61, 61);
}

.sug .sugitem svg{
    font-size: 18px;
    margin-right: 16px;
    color: rgb(248, 100, 83);
}


.ani{
    position: absolute;
    width: 100%;
    left: 0px;
    background-color: white;
    z-index: 10000;
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 6px;
}


.dropdown{
    position: absolute;
    border: 1px solid rgb(228, 228, 228);
    transition: .3s;
    display: flex;
    flex-direction: column;
    z-index: 1200;
    border-radius: 4px;
    width: 240px;
    background-color: white;
    top: 50px;
    right: 0px;
}

.dropdown div{
    padding: 4px 16px;
    width: 100%;
    height: 46px;
    font-size: 14px;
    color: rgb(13, 13, 13);
    cursor: pointer;
    display: flex;
    align-items: center;
}
