/* email */

.emailjoin .logo {
    display: flex;
    height: 58px;
    align-items: center;
    padding: 0 16px;
    width: 1160px;
    margin: 0 auto;
    justify-content: center;
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 6px;
}

.emailjoin .logo img {
    width: 100px;
}

.emailjoin .form {
    width: 400px;
    margin: 72px auto;
    padding: 32px;
    border-radius: 5px;
    border: 1px solid rgb(228, 228, 228);
}

.emailjoin .form h2 {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.025em;
    text-align: left;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 32px;
}

.emailjoin .form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.emailjoin .form div label {
    font-size: 12px;
    font-weight: 500;
    color: rgb(61, 61, 61);
    margin-bottom: 10px;
}

.emailjoin .form div input {
    height: 44px;
    outline: none;
    background-color: transparent;
    padding: 0px 12px;
    border: 1px solid rgb(230, 230, 230);
    color: rgb(13, 13, 13);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
}

.emailjoin .form .email input,
.emailjoin .form .pwd input {
    margin-bottom: 12px;
}

.emailjoin .form .btn {
    width: 100%;
    cursor: pointer;
    border-radius: 1px;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.02em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    outline: none;
    background-color: rgb(248, 100, 83);
    color: white;
    padding: 0 24px;
    font-weight: bold;
    border: none;
}

.emailjoin .before {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
    font-weight: 500;
    color: rgb(158, 158, 158);
    align-items: center;
}

.emailjoin .before a {
    color: rgb(39, 163, 255);
    text-decoration: underline;
    cursor: pointer;
}

.emailjoin .form .or {
    padding: 10px 0;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.emailjoin .or span {
    padding: 16px;
    color: rgb(158, 158, 158);
    font-size: 12px;
}

.emailjoin .form .or div {
    width: 170px;
    border: 1px solid rgb(240, 240, 240);
    margin: 0;
}

.emailjoin .form .kakaologin {
    width: 100%;
}


.emailjoin .form form div>div {
    font-size: 13px;
    color: rgb(255, 87, 87);
    line-height: 20px;
    letter-spacing: -0.015em;
    margin-bottom: 12px;
}

.emailjoin .form form .name input {
    margin-bottom: 12px;
}

/* login email */

.png {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    background-image: url(https://tumblbug-assets.s3.ap-northeast-1.amazonaws.com/static_assets/login/bg_login_email.jpg);
    background-size: cover;
    background-position: center center;
}

.logo {
    width: 1080px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
    cursor: pointer;
}

.login {
    display: flex;
    min-height: calc(100% - 80px);
    padding: 30px 16px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    max-width: 1080px;
    height: 100%;
    margin: 0px auto;
}

.login>div {
    flex: 1 1;
}

.login>div h2{
    margin-block-end: 0px;
    margin-left: 10px;
    margin-bottom: 50px;
}

.login>div>form{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.login>div>form>div{
    display: flex;
    flex-direction: column;
}

.login>div>form>div>label{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
    color: rgb(61, 61, 61);
}

.login>div>form>div>input{
    width: 400px;
    border: 1px solid rgb(230, 230, 230);
    background-color: white;
    padding: 0px 12px;
    height: 44px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    margin-bottom: 15px;
    outline: none;
    appearance: none !important;
}

.login>div>form>div>div{
    font-size: 13px;
    color: rgb(255, 87, 87);
    line-height: 20px;
    letter-spacing: -0.015em;
    margin-bottom: 12px;
}

.login>div>form>button{
    width: 426px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    white-space: nowrap;
    outline: none;
    font-weight: bold;
    padding: 0 24px;
    background-color: rgb(248, 100, 83);
    color: white;
    border: none;
    margin-top: 40px;
}

.wrapper {
    width: 420px;
    margin-top: 70px;
    text-align: left;
}

.wrapper>div {
    padding: 10px 0;
    overflow: hidden;
    text-align: center;
}

.wrapper>div>span {
    position: relative;
    padding: 16px;
    color: rgb(158, 158, 158);
    font-size: 12px;
}

.wrapper>div>span::before,
.wrapper>div>span::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid rgb(240, 240, 240);
    top: 50%;
    width: 5000px;
}

.wrapper>div>span::before {
    right: 100%;
}

.wrapper>div>span::after {
    left: 100%;
}

.circle {
    display: flex;
    align-items: center;
}

.circle>button {
    border: none;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 5px;
    width: 42px;
    height: 42px;
    text-align: center;
}

.circle .naver {
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: rgb(60, 199, 90);
}

.circle .face {
    overflow: hidden;
    position: relative;
    background-color: white;
}

.circle .face svg {
    color: rgb(46, 119, 242);
    font-size: 53px;
    position: absolute;
    top: -5px;
    right: -4px;
}

.circle .apple {
    background-color: black;
}

.circle .apple svg {
    color: white;
    font-size: 26px;
}

.circle .mail {
    background-color: rgb(208, 208, 208);
}

.circle .mail svg {
    color: white;
    font-size: 26px;
}

.idno {
    display: flex;
    flex-direction: column;
}

.idno>div{
    display: flex;
    margin-top: 50px;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
    font-weight: 500;
    color: rgb(158, 158, 158);
}

.idno div:last-child{
    margin-top: 5px;
}

.idno>div a {
    margin-left: 4px;
    font-weight: 500;
    cursor: pointer;
    color: rgb(39, 163, 255);
    text-decoration: underline;
}

.redborder{
    border: 1px solid red !important;
}

@media screen and (max-width: 1080px) {
    .png {
        display: none;
    }
}