.head{
    position: fixed;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    align-content: center;
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 6px;
    background-color: white;
}

.head>div{
    width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.project{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    width: 240px;
}

.project>div{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.project>div svg{
    margin-right: 10px;
    font-size: 16px;
}

.logo img{
    height: 35px;
}

.post>svg{
    margin-right: 20px;
}



.user{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    width: 240px;
    justify-content: flex-end;
}

.user>div{
    display: flex;
    align-items: center;
}

.user>svg{
    margin-right: 20px;
}

.user>div span{
    margin-right: 10px;
}

.user>div svg{

    font-size: 38px;
}

/* categoryButton */
.categorybutton{
    list-style: none;
    margin: 0 8px 10px 0;
}

.categorybutton button{
    outline: none;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 52px;
    height: 36px;
    background: rgb(255, 255, 255);
    padding: 0 24px;
}