.frame{
    width: 100%;
    box-shadow: rgb(0 0 0 / 4%) 0px 1px 8px, rgb(0 0 0 / 2%) 0px 1px 0px;
    z-index: 1;
}

.frame .top{
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    box-shadow: none;
    transform: translateY(0px);
    height: 64px;
}

.frame .top>div{
    width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100%;
    align-items: center;
}

.frame .top>div>div{
    display: flex;
    align-items: center;
}

.frame .top>div>div svg{
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.frame .top>div button{
    width: 120px;
    height: 40px;
    font-weight: 500;
    background-color: rgb(240, 240, 240);
    font-size: 12px;
    line-height: 20px;
    outline: none;
    padding: 0 16px;
    border-radius: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.frame .top>div .save{
    color: rgb(255, 255, 255);
    background-color: rgb(248, 100, 83);
    cursor: pointer;
}

.frame .top>div button span{
    color: rgb(61, 61, 61);
    opacity: .5;
}

.frame .top>div .save span{
    color: rgb(255, 255, 255);
    opacity: 1;
}

.frame .bot{
    background-color: white;
    position: fixed;
    top: 64px;
    width: 100%;
    height: 60px;
    box-shadow: rgb(0 0 0 / 4%) 0px 1px 8px, rgb(0 0 0 / 2%) 0px 1px 0px;
}

.frame .bot>div{
    width: 1080px;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    align-items: center;
    height: 60px;
}

.frame .bot>div>div{
    cursor: pointer;
    height: 100%;
    margin: 0 16px;
    display: flex;
    color: rgb(13, 13, 13);
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
}

.frame .bot>div .tab{
    border-bottom: 2px solid red;
}

.frame .bot>div>div:first-child{
    margin:0 16px 0 0;
}

.frame .bot>div>div span{
    height: 14px;
    margin-left: 4px;
    padding: 0 4px;
    background-color: rgb(233, 233, 233);
    border-radius: 2px;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -0.005em;
}





