/* footer */

.footerWrapper {
    border-top: 1px solid rgb(240, 240, 240);
    color : rgb(125, 125, 125);
    font-size : 14px;
}

.footerItem {
    max-width: 1160px;
    margin: 0 auto;
}

.footerItem1 {
    margin : 30px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.guideColumn {
    margin-right : 40px;
}

.guideColumn p{
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 600;
}

.guideColumn p:hover {
    color : rgba(0, 0, 0, 0.87);
    transition : all 0.3s;
}

.creatorGuide {
    color : rgb(248, 100, 83);
}

.creatorGuide:hover {
    color : rgb(248, 100, 83) !important;
}

.tumblebugAPP {
    padding : 8px 30px;
    width: 145px;
    font-size : 15px;
    color: rgb(109, 109, 109);
    border: none;
    background-color : rgb(240, 240, 240);
    border-radius: 4px;
    cursor : pointer;
    font-weight: 500;
}

.tumblebugAPP:hover {
    color : rgba(0, 0, 0, 0.87);
    transition : all 0.4s;
}

.footerItem2 {
    margin : 30px 0;
    display: flex;
    justify-content: space-between;
    color : rgb(109, 109, 109);
    font-size : 13px;
}

.customerSupport {
    font-weight: bold;
    color: rgb(61, 61, 61);
    font-size : 16px;
    margin-bottom : 20px;
}

.questionTime {
    font-size: 12px;
}

.questionbtn {
    padding : 10px 50px;
    margin-top : 10px;
    color: rgb(33, 33, 33);
    border: 1px solid rgb(228, 228, 228);
    background-color: white;
    border-radius: 4px;
    cursor : pointer;
    letter-spacing: 1px;
}

.questionbtn:hover {
    border : 1px solid rgb(72, 72, 72);
    transition : all 0.5s;
}

.item1Guide {
    display: flex;
}

.itemTitle {
    color : rgb(28, 28, 28);
    font-size : 17px;
    font-weight: bold;
}

.btnWrapper {
    display: flex;
}

.kakaoIMG {
    width: 20px;
    filter: invert(41%) sepia(11%) saturate(9%) hue-rotate(15deg) brightness(99%) contrast(90%);
    padding-top : 3px;
}
.tumblebugSNS {
    border: 1px solid rgb(228, 228, 228);
    padding : 6px;
    border-radius: 50px;
    color : rgb(124, 124, 124);
    cursor: pointer;
    margin : 0 3px;
}

.tumblebugSNS:hover {
    border : 1px solid rgb(109, 109, 109);
    transition : all 0.5s;
}

.footerNotifyWrapper {
    background-color : rgb(240, 240, 240);
}

.footerNotify {
    max-width: 1160px;
    margin: 0 auto;
    padding : 10px 16px;
    color : rgb(109, 109, 109);
    font-size: 12px;
    line-height: 18px;
}

.companyProfile {
    width : 600px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

